@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&family=Roboto+Slab:wght@100;200&family=Roboto:wght@300&display=swap');
/*
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/
/*-----------------------------*/
/**----/
/* Links */
:root{
  --padding-section-default: 20px;
  --height-section-default:50vh;
  --padding-nav-default:10px;
  --padding-img-default: 3px;
  --padding-list-default: 5px;
  --padding-default: 4px;
  --grid-template-rows-default: 0.1fr 4fr;
  --grid-template-rows-form:0.1fr 10fr;
  --font-family-default: 'Roboto', sans-serif;
  --margin-defalut: 10px;
  --margin-defalut-min: 3px;
}

/*-- FRONT PAGE --*/
/*-BODY-*/
#body-default{
  display: grid;
  grid-template-rows: var(--grid-template-rows-default);
  background-color: bisque;
}
#body-default > div{
    justify-self: center;
  }

  #body-form-default{
    display: grid;
    grid-template-rows: var(--grid-template-rows-form);
    background-color: bisque;
  }
  #body-form-default > div{
    justify-self: center;
  }
/*-SECCTION-*/
div[name |= "seccion"]{
  padding: var(--padding-section-default);
  height: var(--height-section-default);
}

/**------------**/

/*--- NAVEGATION ---*/
#navegation-default{
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;
  align-items: center;*/
  padding: var(--padding-nav-default);
}
#navegation-default > li{
  padding: inherit;
  text-align: center;
}

#navegation-default > li:nth-child(4){

  margin-left: auto;
}
  /*---Navegation-Main-App---*/
#navegation-main-app{
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-nav-default);
  background-color:  #a2d9ce;
}
#navegation-main-app > div{
  display: inherit;

}

  /*-------------*/


  #navegation-footer-app{
    display: none;
  }
/*---HeaderApp---*/
#img-header-default{
  position: relative;
  width: 3vw;
  margin-left: 5px;

}
#img-header-default:hover{
  background-color: white;

  cursor: pointer;
  padding: var(--padding-img-default);
}
#number-notice{
  font-size: 10px;
  color:white;

}

/*---------------*/

/*---Notices--*/
#img-header-default > .positionAbsolute {
  position: absolute;
  top: 0px;
  left: 0px;

  border: 1px solid black;
  border-radius: 50%;
  background-color: red;
}
#img-header-default > .tamanio{
  width: 25px;
  margin-left: 0px;
}
#icono{
  width: 10vw;
  background-color: #58d68d;
  border: 1px solid black;
  border-radius: 5px;
  margin: 3px;
}
#icono[name="services"]{
  background-color:transparent;
  border: unset;
  width: 10vw;
  flex: 0.2;
}
#icono[name="ok"]{
  width: 5vw;
  background-color: transparent;
  border: unset;
}
#icono[name="delete"]:hover{
  background-color: red;
}
/*------------*/
/*---TaskList*/
.tasklist{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*align-items: center;*/
}
.tasklist > .tasklist-element{
  border: 1px solid black;
  padding: var(--padding-list-default);
  flex:1;
  margin: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
/*.tasklist > .tasklist-element::before{
  content: '> ';
}*/
.tasklist-element-statuss-change{
  background-color: rgb(118, 219, 118);

}
.tasklist-element-statuss-change > .span-tarea{
  display: block;
}

.span-tarea{
  display:none;
}
.totaltasklist{
  border: 1px solid black;
  padding: 3px;
  margin: 5px;
  font-family: var(--font-family-default);
}
[name="titulo-lista-tareas"]{
  font-family: var(--font-family-default);
  text-align: center;
  padding: var(--padding-default);
  font-size: x-large;
  margin: 5px;
  border-bottom: 5px solid rgb(134, 158, 123);

}
[name="titulo-show-services"]{
  display: block;
  font-family: var(--font-family-default);
  text-align: center;
  padding: var(--padding-default);
  font-size: x-large;
  margin: 5px;
  border-bottom: 5px solid rgb(134, 158, 123);
  background-color: white;
}
/*-----*/

/*--Info--*/
#info-position-relative{
  position:relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}

#info{
  background-color: #EFEFFB;
  border: 1px solid transparent;
  border-radius: 5px;

  cursor: pointer;

  margin: 3px;
  flex: 1;
}

#info:hover{
  /*position: absolute;
  background-color: white;
  z-index: 1;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 90%;*/
  /*left: 0;*/
  background-color: white;
  -webkit-box-shadow: 2px 4px 14px -1px #2F26FF;
  box-shadow: 2px 4px 14px -1px #2F26FF;
}
#info > img{
  padding: 5px;
  width: 10vw;
  height: 10vh;
}
#info > img:hover{
  padding: 5px;
  width: 12vw;
  height: 12vh;
  /*background-color: white;*/
  border: 1px solid transparent;
  border-radius: 5px;
}
#info > span{
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}
/*--------*/

/*--- total-services ---*/
.etiquetas-colores-red,.etiquetas-colores-green{
  display: none;
}
.show-services{
  border: 1px solid black;
  margin: var(--margin-defalut);
  width: 600px;
}
/*.show-services:hover{
  background-color: #82e0aa;
}*/
#total-services{
  display: flex;
  justify-content: center;
  align-content: center;

}
#total-services .show-services{
  height: auto;
  position: relative;
  /*width: 600px;*/
  border: 1px solid black;
  border-radius: 5px;
  /*margin: var(--margin-defalut);*/
  background-color: blue;

}
#total-services .show-services > .etiquetas{
display: none;
}
#total-services .show-services a ,span[name="service-titulo"]{
  display: block;
  font-family: var(--font-family-default);
  font-size: 15px;
  font-weight: bold;
  padding: var(--padding-default);
}
#total-services .show-services a ,span[name="service-description"]{
  display: block;
  font-family: var(--font-family-default);
  font-size: 10px;
  padding: var(--padding-default);
}
span[name="service-description-initial"]{
  display: block;
  font-family: var(--font-family-default);
  font-size: 10px;
  font-weight: bolder;
  font-style:italic;
  padding: var(--padding-default);
}
#total-services .show-services a ,span[name="service-usuario"]{
  display: block;
  font-family: var(--font-family-default);
  font-size: 12px;
  /*border-bottom: 1px solid red;*/
  padding: var(--padding-default);
}
#total-services .show-services a > .services-not-solutionados{

  background-color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 10px;
  padding: var(--padding-default);
  display: flex;
  flex-direction: row;
}
.show-services-list-span{
  flex: 1
}
#total-services .show-services a > .services-not-solutionados:hover{
  background-color: rgb(236, 107, 63);
}
#total-services .show-services a > .services-solutionados{

  background-color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 10px;
  padding: var(--padding-default);
  display: flex;
  flex-direction: row;
}
#total-services .show-services a > .services-solutionados:hover{
  background-color: rgb(176, 233, 122);
}
/*--- Services-Task-List ---*/
#services-task-id{
  flex: 1;
  margin: 10px;
  border: 1px solid black;
  padding: var(--padding-default);
  background-color: #F8F6ED;
}
#services-task-id span[name="task"]{
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  color: #15191a;
  background-color: #adc0b5;
  border: 1px solid transparent;
  border-radius: 3px;
  margin: 3px;
  padding: var(--padding-default);
}
#services-task-id span[name="task"]:hover{
  background-color: #2e86c1;
  color:white;
}
#services-task-id .services-task-id-file-and-img{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items:center;
}
#services-task-id .services-task-id-file-and-img .son{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex:1;
}
#services-task-id .services-task-id-group{
  display: flex;
  flex-direction: row;
}
#services-task-id .services-task-id-group .services-button{
  background-color: #2e86c1;
  margin:2px;
  color: white;
  display: flex;
  padding: var(--padding-default);
}
/*--------------------------*/
/*--- WritingList ---*/
#writinglist{
  background-color: orange;
  margin: 5px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#writinglist > span{
  font-family: var(--font-family-default);
  padding: var(--padding-default);
  flex: 1;
}
#writinglist > input {
  flex:1;
}
/*-----*/
/*----BUTTONs ---*/
#button-default{
  border: none;
  width: 5vw;
  color: white;
  background-color: orange;
}
#button-default:hover{
  transition-property: all;
  transition-duration: 1s;
  width: 7vw;
  border: 1px solid transparent;
  border-radius: 5px;

}
.div-click-default{
  display: none;

}

#send-data-default{
  width: 20px;
  height: 20px;
}
.save-data-default{
  background-color: black;
  border: 1px solid transparent;

  margin: 10px;
  width: 5em;
  height: 3em;
  color: white;
  flex: 1;
}
.save-data-default:hover{
  background-color: #58d68d;
  color:red;
}
.send-data-div{
  display: flex;
  justify-content: center;
}
.send-data{

  background-color: black;
  border: 1px solid transparent;

  margin: 0px;
  width: 10em;
height: 3em;

}

.send-data::after{
  content: 'Enviar datos';
  color:orange;

}
.send-data:hover{
  /*-webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;*/
  background-color: #58d68d;
  border: 1px solid transparent;
  cursor: pointer;
}
/*---buton---*/
button{
  border: none;
  color:inherit;
  background-color:  inherit ;
  padding: var(--padding-default)
}
button:hover{
  background-color: black;
  color:white;
  font-style: italic;
}
/*-----------*/
/*--------*/
a[name="iconos"] {
  text-decoration: none;
}
a[name="iconos"]:link {
  color: black;
}

a[name="iconos"]:visited {
  color: black;

}
a[name="iconos"]:hover{
  transform: transition all 1s;
  font-weight: bold;
  font-size: 20px;

  border: 1px solid transparent;
  border-radius: 5px;
  padding: 3px;
}

a[name="info"]{
  text-decoration: none;
}
a[name="info"]:link {
  color: black;
}

a[name="info"]:visited {
  color: black;
}
a[name="service-defalut"]{
  margin: 10px;
  text-decoration: none;
}
a[name="service-defalut"]:link{
  color: black;
}
a[name="service-defalut"]:visited{
  color:black;
}
/*a[name="service-defalut"]:hover{
  background-color:  #f1c40f;
}*/
/*---------*/
/* Navs */
.borderColorBottom {
  /*border-bottom-size: 1px;*/
  border-bottom-style: solid;
  border-bottom-color: rgb(187, 49, 49);
}
.separateLogo {
  margin-left: auto;
}
/*--------*/
/*-------Style words---------*/
.theRoboto {
  font-family: 'Roboto', sans-serif;
}
.theSlabRoboto {
  font-family: 'Roboto Slab', serif;
}

/* Size */
.px20 {
  font-size: 20px;
}
/* Weight's letter */
.weight-letter-bold{
  font-weight: bold;
}
/*----------------*/
* {
  padding: 0;
  margin: 0;
}

h1,
p {
  font-family: Lato;
}
.divFlex {
  display: flex;
}
.enlinea {
  display: inline;
}
/*---- li ---*/
li{
  list-style:none;
}
/* Anchuras responsive */
.width50vw {
  width: 50vw;
}
.width20vw {
  width: 20vw;
}
.width5vw-change7{
  width: 5vw;
}
.width5vw-change7:hover{
  transition-property: all;
  transition-duration: 1s;
  width: 7vw;
  color:red;
  background-color: blue;
  font-size: x-large;
  border: 1px solid black;
  border-radius: 5px;
}
/*--------------------*/
.anchura {
  width: -webkit-fill-available;
}
/*-------Margin Padding-------*/
.margen {
  margin: 3px;
}
.margin10 {
  margin: 10px;
}
.margen0{
  margin: 0;
}
.padding10 {
  padding: 10px;
}
.border {
  border: 1px solid black;
}
.borderNone{
  border: none;
}
/*----Justify----*/
.justifyContentCenter {
  justify-content: center;
}
.justifyContentSpaceAround {
  justify-content: space-around;
}
.justifyContentSpaceBetween{
  justify-content: space-between;
}
/*--- Flex Direction ---*/
.flexDirectionColumn {
  flex-direction: column;
}
.flexDirectionRow {
  flex-direction: row;
}

/*----- Align ------*/
.alignCenter {
  text-align: center;
}
.alignWithFlexItemCenter {
  align-items: center;
}

/*-----background-color-----*/
.fondoBlack {
  background-color: black;
}
.fondoAzulete {
  background-color: rgba(143, 136, 185, 0.842);
}
.fondoNaranja {
  background-color: orange;
}

.fondoVerde {
  background-color: green;
}

.ocultarDatos {
  display: none;
}

.elImgPopUp {
  width: 100px;
  height: 100px;
}

/* Border border-radius*/

.rounding10 {
  border: 1px solid black;
  border-radius: 20px;
}
/* Dimensiones */
.abigwidhtpx {
  width: 600px;
}
.abigheightpx {
  height: 600px;
}
/*---- vh ----*/
.vh50 {
  height: 50vh;
  display: grid;

}
/* place-self-sibilings*/
.vh50 > * {
  display: grid;
  place-self: center;
  /*padding: 20px;
      background-color: blueviolet;*/
}

.vh100 {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

/* place-self-sibilings*/
.vh100 > div {
  display: grid;
  place-self: center;
  /*padding: 20px;
      background-color: blueviolet;*/
}
.vh50-Sin-Grid{
  height: 50vh;
}
/*---------------------------------*/
.the-body{
  height: auto;
  width: 100vw;
}
/*----Imagenes----*/
.img-portada{
  height: 50vh;
  width: 75vw;
}
/* Positions and z-index */

.posicionRelativa {
  position: relative;
}
.posicionAbsoluta {
  position: absolute;
}
.positionStyke{
  position:sticky;
}
  /* -- top --*/
.topNegativeToTest {
  top: -100px;
}
.topPositiveToTest {
  top: 100px;
}

/* -- bottom -- */
.toBottom0{
  bottom: 0;
}
  /* -- z --*/
.zIndexTest1 {
  z-index: 1;
}
.zIndexTest2 {
  z-index: 2;
}

  /* -- --*/

/* Buttons */
.buttonGeneric {
  width: 150px;
  height: 40px;
}
/* Colores de letra */
.colorWhite {
  color: white;
}
/*.ocultarTitulos {
  display: block;
  color: orange
}*/
/*---GenericFormTextArea---*/
#generic-form-text-area{
  padding:var(--padding-default);
  margin: var(--margin-defalut-min);
  border: 3px solid green;
  display: block;

}
#generic-form-text-area input{
  border:none;
  background-color: black;
  color:white;
  width: 5rem;
  padding:var(--padding-default);
  margin: var(--margin-defalut-min);
}
#generic-form-text-area input:hover{
  background-color: blue;
}
#generic-form-text-area textarea{
  width: 100%;
}
#generic-form-text-area textarea:focus{
  background-color: orange;
}
/*------------------------*/
/*---GenericImageOnClick.jsx---*/
#generic-image-on-click{
  padding:var(--padding-default);
  margin: var(--margin-defalut-min);
  border: 1px solid transparent;
  border-radius: 5px;
  width: 6vw;
  cursor: pointer;
  background-color:  #aed6f1;
}
/*
#solution{
  background-color:  #d2f1ae;
}*/

#generic-image-on-click > img{
  width: 5vw;
}
#generic-image-on-click:hover{
  background-color: #2e86c1;
}
#generic-image-on-click > img{
  width: 5vw;

}

  /**
   Utilizado en Component-ServicesId-ServicesTasksId.jsx
  */
  #organized-services-task-id{
    display: flex;
    flex-direction: row;
    /*align-items:baseline;*/
    align-items:stretch;
    margin: var(--margin-defalut);
    padding: var(--padding-default);
    border: 1px solid black;
  }
/*#organized-services-task-id > .services-task-id-solution-conversation{
    flex:1;
    display: flex;
    flex-direction: column;
    
    border: 1px solid black;
    margin: var(--margin-defalut);
    padding: var(--padding-default);
    font-family: var(--font-family-default);
  }*/
  #organized-services-task-id > .services-task-id-solution-conversation{
    flex:1;
    display: flex;
    flex-direction: column;
    
    border: 1px solid black;
    margin: var(--margin-defalut);
    padding: var(--padding-default);
    font-family: var(--font-family-default);
  }
  .solution,.conversation-total{
    flex:1;
    /*height: 350px;*/
    border: 1px solid black;
    padding: var(--padding-default);
    margin: var(--margin-defalut);
    display: flex;
  }





/*-----------------------*/


#component-servicesId-conversations{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: var(--padding-default);
  width: -webkit-fill-available;
  width: fill-available;
}
#component-servicesId-conversations > .conversations{
 /* flex:4;*/
  background-color: greenyellow;
  overflow-y: scroll;
  height: 200px;
  /*margin: var(--margin-defalut);*/
  
}
#component-servicesId-conversations > .send{
  flex: 1;
  /*background-color: #2e86c1;*/
  background-color: rgb(255, 238, 0);
  /*margin: var(--margin-defalut);*/
}

#personal-response-wrapper{
  margin: var(--margin-defalut);
  height: 50px;/*será eliminado xa que estará o componente*/
  border: 1px solid black;
  background-color: #d3e0e9;


}
@media (max-width: 600px) {

  .ocultarTitulos {
    display: none;

  }
  .ocultarDatos {
    display: block;
  }
  #navegation-default{
    flex-direction: column;
    align-items: unset;
    /*padding: inherit;*/
  }
  #navegation-default > li:nth-child(4){

    margin-left: unset;
  }
  #img-header-default{

    margin-left: 15px;

  }
  #info {
    width: 100%;
    background-color: #EFEFFB;
    -webkit-box-shadow: 2px 4px 14px -1px #2F26FF;
    box-shadow: 2px 4px 14px -1px #2F26FF;
  }
  #total-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-content: center;
  }
  #total-services .show-services{
    width: auto;
  }
  #total-services .show-services > .etiquetas{
    display: block;
    position: sticky;
    z-index: 20;
    top: 60px;
    background-color: transparent;
  }
  .etiquetas-colores{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-default);
    text-align: center;
    position: sticky;

  }
  .etiquetas-colores-red,.etiquetas-colores-green{
    display: block;
  }
  .etiquetas-colores > .etiquetas-colores-red{
    flex:1;
    margin: 2px;
    background-color: #ec6b3f;

  }
  .etiquetas-colores > .etiquetas-colores-green{
    flex:1;
    margin: 2px;
    background-color: #b0e97a;

  }
  .div-click-default{
    display: block;
    height: 5vh;
    width: 5vw;
    background-color: blue;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
      cursor: pointer;
  }
  .div-click-default:hover{
    background-color: black;
  }
  .divFlex{
    flex-direction: column;
  }
   /*---Navegation-Footer-App---*/
  #navegation-footer-app{
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    padding: var(--padding-nav-default);
    background-color:  #a2d9ce;

  }
  #navegation-footer-app .img-nav-footer-app{
  width: 30px;
  height: 30px;
  padding: 10px;
  border: 1px  solid black;
  border-radius: 50%;
  }
  .img-nav-footer-app:hover{
    background-color: white;
  }


  /**
   Utilizado en Component-ServicesId-ServicesTasksId.jsx
  */
  #organized-services-task-id > .services-task-id-solution-conversation{
  display: none;
}

}
