@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&family=Roboto+Slab:wght@100;200&family=Roboto:wght@300&display=swap');
/*
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/
/* Links */
a {
  text-decoration: none;
}
a:link {
  color: black;
}

a:visited {
  color: black;
}
/*---------*/
/* Navs */
.borderColorBottom {
  /*border-bottom-size: 1px;*/
  border-bottom-style: solid;
  border-bottom-color: rgb(187, 49, 49);
}
.separateLogo{
  margin-left: auto;
}
/*--------*/
/*-------Style words---------*/
.theRoboto {
  font-family: 'Roboto', sans-serif;
}
.theSlabRoboto {
  font-family: 'Roboto Slab', serif;
}

/* Size */
.px20 {
  font-size: 20px;
}
/*----------------*/
* {
  padding: 0;
  margin: 0;
}

h1,
p {
  font-family: Lato;
}
.divFlex {
  display: flex;
}
.enlinea {
  display: inline;
}
.anchura {
  width: -webkit-fill-available;
}
.margen {
  margin: 3px;
}
.margin10 {
  margin: 10px;
}
.padding10 {
  padding: 10px;
}
.border {
  border: 1px solid black;
}
.justifyContentCenter {
  justify-content: center;
}
.justifyContentSpaceAround {
  justify-content: space-around;
}
.flexDirectionColumn {
  flex-direction: column;
}
.flexDirectionRow {
  flex-direction: row;
}
.alignCenter {
  text-align: center;
}
.alignWithFlexItemCenter {
  align-items: center;
}
.fondoAzulete {
  background-color: rgba(143, 136, 185, 0.842);
}
.fondoNaranja {
  background-color: orange;
}
.fondoVerde {
  background-color: green;
}
.ocultarDatos {
  display: none;
}

.elImgPopUp {
  width: 100px;
  height: 100px;
}
/* Border border-radius*/

.rounding10 {
  border: 1px solid black;
  border-radius: 20px;
}
/* Dimensiones */
.abigwidhtpx {
  width: 600px;
}
.abigheightpx {
  height: 600px;
}
.vh50 {
  height: 50vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
/* place-self-sibilings*/
.vh50 > * {
  display: grid;
  place-self: center;
  /*padding: 20px;
      background-color: blueviolet;*/
}

.vh100 {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
/* place-self-sibilings*/
.vh100 > div {
  display: grid;
  place-self: center;
  /*padding: 20px;
      background-color: blueviolet;*/
}

/* Positions and z-index */

.posicionRelativa {
  position: relative;
}
.posicionAbsoluta {
  position: absolute;
}
.topNegativeToTest {
  top: -100px;
}
.topPositiveToTest {
  top: 100px;
}
.zIndexTest1 {
  z-index: 1;
}
.zIndexTest2 {
  z-index: 2;
}

/* Buttons */
.buttonGeneric {
  width: 150px;
  height: 40px;
}

@media (max-width: 600px) {
  .ocultarTitulos {
    display: none;
  }
  .ocultarDatos {
    display: block;
  }
}
