@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&family=Roboto+Slab:wght@100;200&family=Roboto:wght@300&display=swap');
/*
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/
/*-----------------------------*/
/**----/
/* Links */
:root{
  --padding-section-default: 20px;
  --height-section-default:50vh;
  --padding-nav-default:10px;
  --padding-img-default: 3px;
  --grid-template-rows-default: 0.1fr 4fr;
  --grid-template-rows-form:0.1fr 10fr;
}
/*-- FRONT PAGE --*/
/*-BODY-*/
#body-default{
  display: grid;
  grid-template-rows: var(--grid-template-rows-default);
  background-color: bisque;
}
#body-default > div{
    justify-self: center;
  }

  #body-form-default{
    display: grid;
    grid-template-rows: var(--grid-template-rows-form);
    background-color: bisque;
  }
  #body-form-default > div{
    justify-self: center;
  }
/*-SECCTION-*/
div[name |= "seccion"]{
  padding: var(--padding-section-default);
  height: var(--height-section-default);
}

/**------------**/

/*--- NAVEGATION ---*/
#navegation-default{
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;
  align-items: center;*/
  padding: var(--padding-nav-default);
}
#navegation-default > li{
  padding: inherit;
  text-align: center;
}

#navegation-default > li:nth-child(4){

  margin-left: auto;
}
  /*---Navegation-Main-App---*/
#navegation-main-app{
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-nav-default);
  background-color:  #a2d9ce;
}
#navegation-main-app > div{
  display: inherit;

}

  /*-------------*/


  #navegation-footer-app{
    display: none;
  }
/*---HeaderApp---*/
#img-header-default{
  position: relative;
  width: 3vw;
  margin-left: 5px;

}
#img-header-default:hover{
  background-color: white;

  cursor: pointer;
  padding: var(--padding-img-default);
}
#number-notice{
  font-size: 10px;
  color:white;

}

/*---------------*/

/*---Notices--*/
#img-header-default > .positionAbsolute {
  position: absolute;
  top: 0px;
  left: 0px;

  border: 1px solid black;
  border-radius: 50%;
  background-color: red;
}
#img-header-default > .tamanio{
  width: 25px;
  margin-left: 0px;
}
/*------------*/
/*--Info--*/
#info-position-relative{
  position:relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#info{
  background-color: gray;
  border: 1px solid transparent;
  border-radius: 5px;
 
  cursor: pointer;
  
  margin: 3px;
  flex: 1;
}

#info:hover{
  position: absolute;
  background-color: white;
  z-index: 1;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 90%;
  /*left: 0;*/
  -webkit-box-shadow: 2px 4px 14px -1px #2F26FF; 
  box-shadow: 2px 4px 14px -1px #2F26FF;
}
#info > img{
  padding: 5px;
  width: 10vw;
  height: 10vh;
}
#info > img:hover{
  padding: 5px;
  width: 12vw;
  height: 12vh;
  /*background-color: white;*/
  border: 1px solid transparent;
  border-radius: 5px;
}
#info > span{
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}
/*--------*/

/*----BUTTONs ---*/
#button-default{
  border: none;
  width: 5vw;
  color: white;
  background-color: orange;
}
#button-default:hover{
  transition-property: all;
  transition-duration: 1s;
  width: 7vw;
  border: 1px solid transparent;
  border-radius: 5px;

}
.div-click-default{
  display: none;

}
/*---buton---*/
button{
  border: none;
  width: 5vw;
  height: 5vh;
  background-color:  #58d68d ;
}
button:hover{
  background-color: black;
  color:white;
}
/*-----------*/
/*--------*/
a {
  text-decoration: none;
}
a:link {
  color: black;
}

a:visited {
  color: black;
}
a:hover{
  transform: transition all 1s;
  font-weight: bold;
  font-size: 20px;
  background-color: grey;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 3px;
}
/*---------*/
/* Navs */
.borderColorBottom {
  /*border-bottom-size: 1px;*/
  border-bottom-style: solid;
  border-bottom-color: rgb(187, 49, 49);
}
.separateLogo {
  margin-left: auto;
}
/*--------*/
/*-------Style words---------*/
.theRoboto {
  font-family: 'Roboto', sans-serif;
}
.theSlabRoboto {
  font-family: 'Roboto Slab', serif;
}

/* Size */
.px20 {
  font-size: 20px;
}
/* Weight's letter */
.weight-letter-bold{
  font-weight: bold;
}
/*----------------*/
* {
  padding: 0;
  margin: 0;
}

h1,
p {
  font-family: Lato;
}
.divFlex {
  display: flex;
}
.enlinea {
  display: inline;
}
/*---- li ---*/
li{
  list-style:none;
}
/* Anchuras responsive */
.width50vw {
  width: 50vw;
}
.width20vw {
  width: 20vw;
}
.width5vw-change7{
  width: 5vw;
}
.width5vw-change7:hover{
  transition-property: all;
  transition-duration: 1s;
  width: 7vw;
  color:red;
  background-color: blue;
  font-size: x-large;
  border: 1px solid black;
  border-radius: 5px;
}
/*--------------------*/
.anchura {
  width: -webkit-fill-available;
}
/*-------Margin Padding-------*/
.margen {
  margin: 3px;
}
.margin10 {
  margin: 10px;
}
.margen0{
  margin: 0;
}
.padding10 {
  padding: 10px;
}
.border {
  border: 1px solid black;
}
.borderNone{
  border: none;
}
/*----Justify----*/
.justifyContentCenter {
  justify-content: center;
}
.justifyContentSpaceAround {
  justify-content: space-around;
}
.justifyContentSpaceBetween{
  justify-content: space-between;
}
/*--- Flex Direction ---*/
.flexDirectionColumn {
  flex-direction: column;
}
.flexDirectionRow {
  flex-direction: row;
}

/*----- Align ------*/
.alignCenter {
  text-align: center;
}
.alignWithFlexItemCenter {
  align-items: center;
}

/*-----background-color-----*/
.fondoBlack {
  background-color: black;
}
.fondoAzulete {
  background-color: rgba(143, 136, 185, 0.842);
}
.fondoNaranja {
  background-color: orange;
}

.fondoVerde {
  background-color: green;
}

.ocultarDatos {
  display: none;
}

.elImgPopUp {
  width: 100px;
  height: 100px;
}

/* Border border-radius*/

.rounding10 {
  border: 1px solid black;
  border-radius: 20px;
}
/* Dimensiones */
.abigwidhtpx {
  width: 600px;
}
.abigheightpx {
  height: 600px;
}
/*---- vh ----*/
.vh50 {
  height: 50vh;
  display: grid;

}
/* place-self-sibilings*/
.vh50 > * {
  display: grid;
  place-self: center;
  /*padding: 20px;
      background-color: blueviolet;*/
}

.vh100 {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

/* place-self-sibilings*/
.vh100 > div {
  display: grid;
  place-self: center;
  /*padding: 20px;
      background-color: blueviolet;*/
}
.vh50-Sin-Grid{
  height: 50vh;
}
/*---------------------------------*/
.the-body{
  height: auto;
  width: 100vw;
}
/*----Imagenes----*/
.img-portada{
  height: 50vh;
  width: 75vw;
}
/* Positions and z-index */

.posicionRelativa {
  position: relative;
}
.posicionAbsoluta {
  position: absolute;
}
.positionStyke{
  position:sticky;
}
  /* -- top --*/
.topNegativeToTest {
  top: -100px;
}
.topPositiveToTest {
  top: 100px;
}

/* -- bottom -- */
.toBottom0{
  bottom: 0;
}
  /* -- z --*/
.zIndexTest1 {
  z-index: 1;
}
.zIndexTest2 {
  z-index: 2;
}

  /* -- --*/

/* Buttons */
.buttonGeneric {
  width: 150px;
  height: 40px;
}
/* Colores de letra */
.colorWhite {
  color: white;
}
/*.ocultarTitulos {
  display: block;
  color: orange
}*/

@media (max-width: 600px) {
  .ocultarTitulos {
    display: none;

  }
  .ocultarDatos {
    display: block;
  }
  #navegation-default{
    flex-direction: column;
    align-items: unset;
    /*padding: inherit;*/
  }
  #navegation-default > li:nth-child(4){

    margin-left: unset;
  }
  #img-header-default{

    margin-left: 15px;

  }
  #info{
    width: 100%;
  }
  #info:hover{
    position: unset;

  /*left: 0;*/
  -webkit-box-shadow: unset; 
  box-shadow:unset;
  }
  .div-click-default{
    display: block;
    height: 5vh;
    width: 5vw;
    background-color: blue;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
      cursor: pointer;
  }
  .div-click-default:hover{
    background-color: black;
  }
  .divFlex{
    flex-direction: column;
  }
   /*---Navegation-Footer-App---*/
#navegation-footer-app{
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-nav-default);
  background-color:  #a2d9ce;
}
#navegation-footer-app img{
width: 30px;
height: 30px;
}
}
